#preloader{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #fff;
z-index: 999;
}

@keyframes rotate-loading {
0%  {transform: rotate(0deg); -webkit-transform: rotate(0deg);}
100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
0%  {transform: rotate(0deg); -webkit-transform: rotate(0deg); }
100% {transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}

@keyframes rotate-loading {
0%  {transform: rotate(0deg); -webkit-transform: rotate(0deg);}
100% {transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes rotate-loading {
0%  {transform: rotate(0deg); -webkit-transform: rotate(0deg); }
100% {transform: rotate(360deg);-webkit-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
0%  {opacity: 0}
20% {opacity: 0}
50% {opacity: 1}
100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
0%  {opacity: 0}
20% {opacity: 0}
50% {opacity: 1}
100%{opacity: 0}
}

.loading-container, .loading {
height: 100px;
position: relative;
width: 100px;
border-radius: 100%;
}

.loading-container { 
position:absolute; 
margin: 0 auto; 
top:40%;
left: 50%;
margin-left:-50px;

background-image: url(../img/preloader_logo.png);
background-repeat: no-repeat;
background-size: 80px auto;
background-position: 10px 20px;
}


.loading {
border: 2px solid transparent;
border-color: transparent #19418A transparent #19418A;
animation: rotate-loading 1.5s linear 0s infinite normal;
transform-origin: 50% 50%;
-webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
-webkit-transform-origin: 50% 50%;
}

#loading-text {
-webkit-animation: loading-text-opacity 1s linear 0s infinite normal;
animation: loading-text-opacity 1s linear 0s infinite normal;
color: #19418A;
font-family: "Helvetica Neue, "Helvetica", "arial"";
font-size: 11px;
font-weight: bold;
padding-top:65px;
opacity: 1;
position: absolute;
text-align: center;
text-transform: uppercase;
top: 0;
width: 100px;
height:50px;
cursor:default;
}